[2017-01-21 20:32] angelorc opened #2 "Error with v-for"
Hello,
I tried the component, but if I try to add v-for the elments gona be outside the view port

[code]
Rendering:
[code]

[2017-02-10 12:52] FrancescoSaverioZuppichini opened #3 "Not working"
I get this error

[code]

[2017-02-10 18:53] drewjbartlett commented on #3
Did you run `npm install vue-flickity --save`? You can also try `npm install flickity --save` if need be.

[2017-02-11 12:02] FrancescoSaverioZuppichini commented on #3
Now it works, but is all bugged

[2017-02-11 15:31] drewjbartlett commented on #3
Can you explain all bugged? I installed this twice yesterday and used it on two different sites with no errors so I'm curious to know what's going on with yours.

[2017-02-13 02:21] ntnelson1s commented on #3
AHHH! Wanted to chime in here. Was stuck on an error forever where I could not resolve module when simply using "import Flickity from 'vue-flickity';". What fixed it was also installing the regular flickity dependency as you stated about.

[2017-02-13 19:04] drewjbartlett commented on #3
That's so strange. It works fine on new projects for me without previously having flickity as a dependency. I just checked the package.json file and saw that vue and flickity are both in a as devDependencies. I wonder if switching them to dependencies will fix it. I'll give it a go as soon as I have a moment

[2017-02-15 13:44] fvmedia commented on #3
+1 I pulled the package, and just as a test, moving the dependancy up to a main dependancy and not dev will fix the issue

[2017-02-15 18:24] #3 closed

[2017-02-22 13:59] exophunk opened #6 "Allow hooking on to flickity events"
Flickity provides events to listen to: http://flickity.metafizzy.co/events.html

It seems this is not possible with vue-flickity, as there is no method for that in the wrapper:

`this.$refs.flickity.on('select', this.doSomething)` does not work, as the "on" method is unknown. Could you simply add this and pass it to flickity as all the other methods?

Or is there another, better way to do this?

[2017-02-22 19:28] drewjbartlett commented on #6
Hey thanks for catching this! I added support just now in `v1.0.7`;

Given you have a $ref named `slider`, you can now do this like:

[code]

[2017-02-22 19:28] #6 closed

[2017-02-22 19:29] drewjbartlett commented on #2
Could you provide some more details on this? I'm not totally sure what you mean.

[2017-02-24 05:24] brettgullan commented on #2
I'm having the same issue. If I try to generate the `carousel-cell` elements using a `v-for` binding, there are rendered outside the Flickity wrapper.

[2017-02-24 10:52] angelorc commented on #2
same here... it re-render outside

[2017-02-24 18:06] drewjbartlett commented on #2
Hmmm, I'll look into this. @brettgullan could you give me a code sample as well?

[2017-02-25 08:45] cpury opened #7 "Work with bgLazyLoad"
Great package!

To get `bgLazyLoad: true` to work, I need to install https://github.com/metafizzy/flickity-bg-lazyload . I tried installing it via `npm install flickity-bg-lazyload --save`, but my `data-flickity-bg-lazyload` attributes just get ignored.

Have you tried using add-on packages like this? Any ideas how to get them to work?

Thanks!

[2017-02-25 08:52] cpury commented on #7
Ok I got it to work. Simply imported `flickity-bg-lazyload` in my component after importing `vue-flickity`. It then patches the existing `Flickity` variable.

Of course that's not the cleanest way of doing this, maybe you might consider adding some nicer API 😃

[2017-02-25 08:52] #7 closed

[2017-02-27 05:16] brettgullan commented on #2
Hey @drewjbartlett Sorry, false alarm! Found the issue with my code. All good.

[2017-02-27 05:45] drewjbartlett commented on #2
Oh good! Closing this for now then!

[2017-02-27 05:45] #2 closed

[2017-03-07 22:29] rugor opened #8 "Implementation with images"
This is an implementation question.

Works great with coloured background divs like in the example, but images come in late, after the plugin has fired. How does one load images with Flickity in Vue? Use nextTick somehow?

In typical webpages an imagesLoaded callback does the trick. What is the equivalent strategy in a vue component?

[2017-03-07 22:59] drewjbartlett commented on #8
I'm not sure this is the right place to ask this. But would you mind sharing some code and I'll have a look to see if I can be of any help? :)

[2017-03-08 00:01] rugor commented on #8
Perhaps, but a common use case for Flickity is with images and I can't find an example of that here -- so it may be appropriate.

The issue is described in this example http://flickity.metafizzy.co/options.html#imagesloaded and here: http://codepen.io/desandro/pen/MYQWEe

I have an array of images I want to share with the component but it doesn't render correctly sometimes because Flickity fires b

[2017-03-22 13:54] lokialone opened #9 "can't npm install vue-flickity"
report error as follow:

     npm install vue-flickity --save
     npm ERR! registry error parsing json
     npm ERR! Darwin 16.4.0
     npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "vue-flickity" "--save"
     npm ERR! node v6.3.1
     npm ERR! npm  v3.10.9
     npm ERR! Unexpected token < in JSON at position 0
     npm ERR! <html>
     npm ERR! <head><title>403 Forbidden</t

[2017-03-22 16:57] drewjbartlett commented on #9
I think this is a problem with your version of npm and not vue-flickity. I may be wrong though.

[2017-04-05 12:13] exophunk opened #10 "Flickity doesn't swipe on mobile chrome when using via npm package"
I have troubles make flickity work when using as a npm package . It is likely related to the build process with laravel-mix, webpack and bubel transpiler.

Touch Swiping stops working on mobile chrome (and chrome dev simulator), but only with the mentioned build process.

I asked about it here: https://github.com/metafizzy/flickity/issues/540

Does anyone experience similar issues with a similiar

[2017-04-06 03:47] DerekBess commented on #10
@exophunk

I too just noticed the same issue on a site I have in development.

Adding this to my CSS has helped combat the issue for me.

`touch-action: manipulation;`

[2017-04-06 09:44] exophunk commented on #10
@DerekBess where did you add this css property to? The flickity container? the inner carousel elements?

[2017-04-10 08:11] #9 closed

[2017-05-19 22:32] lukaszflorczak commented on #2
Hi. I have the same issue. I use v-for and my slides are outside of the flickity wrapper.

[2017-05-29 00:56] b8ne opened #12 "Flickity inside vue transitions"
I have a blog style setup, with a flickity slider for each article.
I then have a side bar with a list of articles, and on click i transition the articles.
During this transition the flickity object seems to lose its styling, and all images breifly stack relative.
Any idea how to prevent this?

[2017-05-31 14:53] mystrdat commented on #12
Hard to say on this without debugging the UI, but it might be the `.destroy()` method removing flickity and its core styling while the component is unmounted and animated away.

[2017-06-08 19:01] itsduc commented on #10
Any news on this?

[2017-06-08 19:11] drewjbartlett commented on #10
Is this a flickity issue or an issue with the vue component? This component is only a wrapper on top of flickity.

[2017-06-14 13:27] jmharveys opened #15 "Flicktiky autoplay + Flickity asNavFor with custom ui dots bug in vue."
I was wondering if someone faced the same issue that I've found vue-flickity.

I have 2 Flickity instances on my page: one for the hero-images (set to _autoPlay_) and another one for captions with _asNavFor_ the hero-images! I added a custom ui dots as well.

If you watch the videos below, you will see the second caption slide don’t show up at the first time the carousel start. I inspected the cod

[2017-06-21 12:30] jmharveys commented on #10
it's a Flickity issue.

[2017-06-22 16:25] #10 closed

[2017-06-22 16:25] drewjbartlett commented on #10
Closing this since it's the wrong place for this

[2017-06-23 12:44] hvalcourtSerdy commented on #15
The problem is the use of this.$refs.

A true patch would be to use attributes/$emit pattern to communicate between parent and children.

$refs is available only when vue is mounted. So it's possible to do something like this  :
[code]

[2017-06-23 12:57] jmharveys commented on #15
@hvalcourtSerdy Thanks ! Working! :)

[2017-06-23 12:57] #15 closed

[2017-07-18 22:44] mbarwick83 opened #16 "Re-init multiple carousels"
Is there a way to, or suggestion, on how I'd go about re-initing several (dynamic) flickity carousels used in a SPC?

I'm having no luck with `this.$refs.flickity.rerender()`, probably because there are multiple carousels using this `ref`.

Any ideas?

[2017-07-18 22:47] drewjbartlett commented on #16
Couldn't you loop them like so:

[code]

[2017-07-18 22:50] mbarwick83 commented on #16
You're the man. I tried this and was calling the `flickityComponent` wrong, didn't have `Component`.
Appears to be working now, thanks dude. Ps: thanks for the component!

[2017-07-18 22:53] drewjbartlett commented on #16
Glad to hear it! And no problem @mbarwick83 👍

[2017-07-18 22:53] #16 closed

[2017-08-16 13:05] elHornair commented on #8
@rugor I had the same issue, but luckily in my case all the images were the same size, so I gave fixed dimensions to their containers with CSS - That way, Flickity doesn't have to wait for the images to be fully loaded for correctly rendering the items

[2017-08-30 16:08] homerjam opened #18 "selectedIndex() doesn't update"
I'm trying to display an image counter which gets the `selectedIndex()` via computed properties however the `selectedIndex()` is never updated. Should this plugin react to flickity events so Vue knows when to update the computed properties?

[2017-08-30 23:26] iamdubx opened #20 "Unexpected token < with SSR"
Hello. Great slider, but unfortunately I have issues with Nuxt. With no SSR setup all is working perfectly.

With Nuxt component breaks if I refresh the page. If I navigate to this page from other pages, then it works. So it breaks only on server.

[code]

[2017-08-30 23:38] iamdubx commented on #20
I tried `no-ssr` plugin, it didn't help. I think this issue is specifically to this Component.

[2017-08-30 23:53] cj commented on #20
@iamdubx try doing this https://nuxtjs.org/guide/plugins#vue-plugins

[2017-08-30 23:57] cannap commented on #20
i tried same error

[2017-08-31 00:32] iamdubx commented on #20
Unfortunately, this one not working.

[2017-08-31 13:36] iamdubx commented on #20
Fixed https://github.com/nuxt/nuxt.js/issues/1536#issuecomment-326294194

[2017-08-31 13:36] #20 closed

[2017-09-14 20:41] drewjbartlett commented on #18
That might be worth implementing. If you wanna submit a PR for it, feel free!

[2017-09-29 03:41] MackieLee commented on #18
maybe you used ES6 arrow function, if you did this,  data will not update.

[2017-09-30 17:44] drewjbartlett commented on #18
I think I see the issue here. It's under methods when it really should be under computed.

[2017-10-04 20:51] davekiss commented on #8
This library fixed the issue for me: https://github.com/David-Desmaisons/Vue.ImagesLoaded

[2017-10-13 19:36] khirsch opened #21 "custom navigation"
I recently submitted a question to StackOverflow w/r/t how to implement custom navigation with vue-flickity: https://stackoverflow.com/questions/46736846/custom-navigation-for-vue-flickity

Thoughts?

[2017-10-13 22:08] jmharveys opened #22 "How to use append"
Hi,

sorry to write over here, but I don't get it how to use the

 function with vue-flickity.

`this.$refs['flickityCarousel_' + this.uid].append('<div>Append this thing into my carousel</div>')`
 is not working. I would like to append a new slice, once my slider is mounted.

If I put a console.log into the vue-flickity.vue file for testing, I've got my element in the console, but it's not append

[2017-10-14 00:43] danielpost opened #23 "Add drag binding"
Would it be possible to add these functions?

https://codepen.io/desandro/pen/adYJEQ/

[2017-10-19 14:40] groman00 commented on #22
@jmharveys Try using a class name for your flickity cells and then adding that class name as the cellSelector option.

`this.$refs['flickityCarousel_' + this.uid].append('<div class="my-flickity-cell">Append this thing into my carousel</div>')`

[code]

[2017-10-19 18:57] chasegiunta commented on #12
@b8ne I know it's been a while, but were you ever able to find a workaround for this? Also running into this issue.

[2017-11-01 14:56] liquidvisual commented on #2
@lukaszflorczak Yep, I'm having the exact same issue.

@drewjbartlett Can you please tell us how you solved this?

[2017-11-01 15:06] liquidvisual commented on #2
@drewjbartlett Could you please re-open this issue? It's such show-stopping bug I'm uncertain how anyone is actually using this component with any sort of data driven loop. Noone has discussed an answer yet :/

[2017-11-14 11:31] alexbudure commented on #2
+1 Flickity initializes before the loop ends

[2017-11-15 09:07] aloha1003 opened #24 "Occur TypeError: _vueFlickity2.default is not a constructor"
my vue code :
` import Flickity from 'vue-flickity';
export default {
    data () {
      return {
        flkty:{},
        flickityOptions: {
                initialIndex: 2,
                prevNextButtons: false,
                pageDots: false,
                adaptiveHeight:true,
                autoPlay: true,
                setGallerySize:true,
                cellAlign: 'left',

[2017-11-22 22:31] apansky commented on #18
Hey, i have similiar question. Is there any way to know which slide is currently active? or are there any events when calling prev/next slide which i can listen to? thanx !

[2017-11-24 17:04] wmcmurray opened #25 "Webpack minification fail with pre-ES6 code"
Hi :raised_hand_with_fingers_splayed: , when I tried to minify my project (which does NOT contain any ES6 syntax), I still had an error looking like there is ES6 syntax somewhere... :

[code]

I couldn't understand why, until I found out it was caused by this module being in ES6 !

I'll probably just copy your `flickity.vue` file into my project and fix it with "old school" syntax so the solution

[2017-11-27 11:11] antoinejaunard opened #26 "staticClick"
Hey,
Is it possible to use [staticClick](https://flickity.metafizzy.co/events.html#staticclick) with this Vue version of Flickity?
If not, would it be possible to add it?
Thanks for your work,
Antoine

[2017-11-27 22:16] jordanranson opened #27 "Does not work with Vue Server Renderer"
When I try to use this component with Vue SSR, I get the following error in the console:

[code]

[2017-11-29 05:03] camilodelvasto commented on #20
I'm experiencing the same, but I don't seem to find what I'm doing wrong... :(

Here a glitch (won't work there as it will require more than 128MB, but I just downloaded and got the error shown below): https://glitch.com/edit/#!/cute-denim

Can you guys please shed some light on what am I doing wrong?

[code]

[2017-11-29 17:34] camilodelvasto commented on #20
This worked for me after I wrapped flickity into `<no-ssr>` tag ¯\_(ツ)_/¯

[2017-12-11 20:09] elHornair commented on #12
I had the same problem and was able to avoid it by using `keep-alive` as suggested by @mystrdat. [Check the docs](https://vuejs.org/v2/api/#keep-alive) for details. Note that `keep-alive` needs to be around your component but inside the transition.
/cc @chasegiunta @b8ne

[2017-12-19 08:21] exxy commented on #2
@alexbudure is correct

You can remedy this issue by using a `v-if` to delay the rendering of the Flickity component until your data is available.

Example:
`<flickity v-if="Object.keys(slides).length > 0" ref="flickity" class="carousel" :options="flickityOptions">
    <div class="carousel-cell" v-for="(item, index) in slides" :key="index">
        {{ item.title }}
    </div>
</flickity>`

[2017-12-19 20:48] wopian commented on #25
UglifyJS still can't handle most of the ES2015+ syntax. You can switch it out with [uglify-es] which is published from the `harmony` branch of UglifyJS and will then be minified without issues 👌

[uglify-es]:https://www.npmjs.com/package/uglify-es

[2017-12-22 21:56] camilodelvasto commented on #26
This seems to be already implemented... I was able to listen to the event by doing this:
[code]
[code]
I guess this can be closed :)

[2018-01-03 21:12] camilodelvasto commented on #26
I used it like this, on the mounted hook:
[code]
so I guess it pretty much works and this should be closed :)

[2018-01-05 13:04] antoinejaunard commented on #26
Thanks for your reply @camilodelvasto.

[2018-01-16 13:36] PhouvanhKCSV opened #28 "Does not work with TypeScript"
Hi, it is look like vue-flickity does not work when using Vue with TypeScript.

My code is:
`import Flickity from 'vue-flickity'`

Then i get the following error.
`TS2307: Cannot find module 'vue-flickity'.`

Does anyone have the error like this, Thank you.

[2018-02-02 02:13] drewjbartlett commented on #28
@PhouvanhKCSV I'm not a TS person. Feel free to submit a PR to support this.

[2018-02-05 14:53] #26 closed

[2018-02-15 10:48] praveenkumart opened #29 "Flickity : Cards overlapped"
right portion of previous portion is visible in present card, right portion of present is move to next cards

[2018-03-07 15:31] jmharveys commented on #22
Thank you!

[2018-03-07 15:31] #22 closed

[2018-04-05 03:27] drewjbartlett commented on #25
Closing this :)

[2018-04-05 03:27] #25 closed

[2018-04-05 04:38] drewjbartlett commented on #18
@apansky Flickity docs would be a better place for that probs.

[2018-04-05 04:38] #18 closed

[2018-04-05 04:39] drewjbartlett commented on #24
Closing this unless you are still getting this error

[2018-04-05 04:39] #24 closed

[2018-04-05 04:39] #8 closed

[2018-04-05 04:39] #12 closed

[2018-04-05 04:40] drewjbartlett commented on #21
Closing unless this is still an issue. Super sorry I have been MIA :/

[2018-04-05 04:40] #21 closed

[2018-04-05 04:41] drewjbartlett commented on #27
Looks like this is a flickity issue

[2018-04-05 04:41] #27 closed

[2018-04-05 04:41] #28 closed

[2018-04-05 04:42] drewjbartlett commented on #23
@danielpost Sorry, but which methods exactly?

[2018-04-05 04:42] drewjbartlett commented on #29
Please be specific, provide code samples and screenshots.

[2018-04-05 04:42] #29 closed

[2018-04-09 13:29] freshlySqueezedBananas opened #32 "Not working with on first render when using custom components with v-for"
Hi,

Similarly with [@angelorc's issue](https://github.com/drewjbartlett/vue-flickity/issues/2) when using a custom component with v-for, the slides are rendered outside flickity's viewport. Tried the solution @exxy provided to no avail.

**This doesn't work**
`<flickity v-if="Object.keys(components).length > 0" ref="flickity" :options="flickityOptions">
      <picker-slide v-for="(item, index) in

[2018-04-11 21:10] rayfranco commented on #27
@drewjbartlett this is not a flickity issue. I think what @jordanranson want is to pre-render the DOM server side, but `vue-flickity` will instantiate flickity automatically. Which for obvious reasons, should not happen on server side (as the error says, `window is not defined`)

It could be a good idea to let user choose if the init method should be called on mounted, or not. Maybe through an ext

[2018-04-11 21:28] rayfranco commented on #27
https://github.com/metafizzy/flickity/blob/master/js/index.js#L39

I can see here that the plugin call `window` a bit early, that might cause an issue as well. So, unfortunately, I see no option for `vue-flickity` to resolve this at this point...

[2018-04-13 14:44] jkniest commented on #23
I guess he is talking about the javascript part to toggle draggable

[2018-04-13 14:47] drewjbartlett commented on #23
@danielpost @jkniest ah alright. Well I won't have a _ton_ of time soon but I just updated the component last week and it's a lot easier to add new methods. So please feel free to make a PR if you'd like - otherwise it may be a bit :)

[2018-04-13 14:47] drewjbartlett commented on #32
@freshlySqueezedBananas could you provide me with a codepen example?

[2018-04-15 21:04] drewjbartlett commented on #32
hmmm maybe a scoped slot could solve this? Now that I know the issue I can attempt to fix :D Thanks!

[2018-04-30 16:02] alexmccabe commented on #23
@drewjbartlett Flickity recently updated to version 2.1.1, and with it came an update to the way enabling and disabling of drag works.

Previously `instance.unbindDrag()` and `instance.bindDrag()` were the methods for enabling and disabling dragging. This was accessible through your component by `this.$refs.flickity.flickity.unbindDrag()` and `this.$refs.flickity.flickity.bindDrag()`. This was a v

[2018-04-30 20:47] alexmccabe commented on #23
I have just created a pull request that resolves this issue. I've added two new methods (`enableDrag()` and `disableDrag()`),  and updated Flickity to the latest version.

[2018-05-04 14:54] #23 closed

[2018-05-04 16:55] Joshgallagher commented on #32
I've been looking into this issue - can't seem to find a fix. Any updates?

[2018-05-18 15:45] EnMod commented on #12
I found that this problem persists in my Nuxt project, and the only way to solve it was to comment out the entire `beforeDestroy()` hook in the package's `src/flickity.vue` component.  Not sure if that will cause other issues down the road but it's working as of right now.

[2018-05-27 17:56] caifagithub commented on #32
Hi guys, I think I found something interesting in vue-flickity. Look, I use two flickity carousel on the same page. Then both of them have lazyLoad: true option. In this case my second (in DOM) carousel generated its cells outside of the flickity view. Then I changed the second lazyLoad option to '1', wich is the same as true. But in this case both of carousels work fine. Interesting right?

[2018-05-29 20:35] JimSchofield opened #34 "Not finding flickity css file"
I was running into this error after `npm install flickity vue-flickity -save` :

[code]

Going into Flickity.vue and chaning the src attribute on the style tag to
[code]
seemed to address the issue.

[2018-06-01 09:41] behnamt commented on #28
For anyone that is still looking for answers:

* add below to you your @types
[code]

* add vue-loader to your webpack.confg
* import like this
[code]

[2018-06-01 14:51] drewjbartlett commented on #28
@behnamt would you be willing to make a PR to support this with typescript?

[2018-06-04 13:47] ngtlin opened #35 "pageDots are not shown"
When using Flickity options, pageDots: true. I do see the underlined flickity instance do created pageDots elements. But nothing is visible on the screen.

[2018-06-05 14:17] ngtlin commented on #35
As a work around by adding a dummy Vue component, the pagination dots appear.

[2018-06-19 10:08] pwnz22 opened #36 "Example of asNavFor"
Hello guys!

Can someone provide an example of using asNavFor option?
Thanks!

[2018-06-25 10:42] josefarrugia commented on #36
I too am I stuck on this. Any updates?

[2018-06-25 10:47] pwnz22 commented on #36
You need to npm install flickity-as-nav-for and import it

[code]

[2018-06-25 10:47] #36 closed

[2018-06-26 20:59] p3lican opened #37 "How to run Resize on load?"
Hoping someone can help with this issue.
[code]

This is not working. I'm getting:
[Vue warn]: Error in beforeMount hook: "TypeError: Cannot read property 'resize' of undefined"

if I use mounted() I don't get an error but the slides aren't resized.

If I put it in a button, resize works on click:
<button @click="resize()">Resize That</button>

[2018-07-03 11:21] OriginalEXE commented on #37
Maybe try this:
[code]

[2018-07-03 15:03] p3lican commented on #37
Thanks a lot for the reply. Unfortunately nothing changes on my end.
I put a console.log below the nextTick just to make sure it was being fired and I did see the console.log.

[code]

[2018-07-06 06:40] Bombay opened #38 "It's not work in Nuxt production mode"
I'm using [nuxt.
](https://github.com/nuxt/nuxt.js)

It's working in dev mode but not working in production mode.

* in dev mode
![image](https://user-images.githubusercontent.com/9034302/42358369-3766c66e-8117-11e8-8496-bd5ac0095caf.png)

* in proudction mode
![image](https://user-images.githubusercontent.com/9034302/42358380-48098132-8117-11e8-87da-c01dcda9d028.png)

[2018-07-10 05:47] pjhartin commented on #8
@davekiss - When you say it fixed it, how did it fix it, what did you hook into when the image was processed?

[2018-07-10 06:16] rugor commented on #8
@pjhartin

import the package:

`import imagesLoaded from 'vue-images-loaded'`

add the directive:

`directives: {
    imagesLoaded
  }`

then on your flickity component:

[code]

`v-images-loaded` triggers the method `imgsLoaded`

which can turn the opacity from 0 to 1 for each image ... at once or all together depending on how you configure the directive.

[2018-07-10 07:59] pjhartin commented on #8
@rugor

Thanks mate for the clarification. I actually was wondering about the issue where images are dynamically added but it causes a problem where Flickity wouldn't resize properly: https://flickity.metafizzy.co/options.html#imagesloaded

I got it in the end by adding a reference to Flickity and calling the `reloadCells` function.

[code]

[2018-07-27 03:03] juanbrujo opened #40 "Load dynamic data into vue-flickity and Firefox bug"
This is not a bug, but a solution after 2 days trying to fix this thing.

Using this component and axios, I retrieve data, use `v-for` and refresh vue-flickity but I had problems rebuilding the carousel. Also, getting that data and using `created ()` exploded in Firefox and coudn`t create the carousel.

Solution:

[code]

[code]

[2018-08-01 08:51] edtownend commented on #32
As a fix I'd suggest wrapping the new Flickity call inside the init method in a this.$nextTick. Happy to make a PR if needed.

[2018-08-01 14:34] vortex-reporter commented on #32
@edtownend what do you mean by "Flickity call"?

[2018-08-01 14:38] Rrrafau commented on #32
Experiencing same issue here.

@edtownend what do you mean by "flickity call", can you please elaborate?

[2018-08-02 10:34] edtownend commented on #32
I think the reason that's not working for you is that at the time the parent component is mounted, the child vue-flickity component won't be mounted yet. Instead I think it should be in the init() method on the actual component, eg.

[code]

I'm not actually using this component as I'd already written my own that does exactly the same thing, but that's working for me.

[2018-08-18 01:13] naochael-jordan opened #42 "Vertical scrolling during swipe"
The vertical scroll of the browser reacts during the horizontal swipe, so it is a bit hard to use
Is it possible to not let the browser scroll vertically while swiping horizontally?

[2018-08-20 15:00] MartinMuzatko commented on #38
Can't even get it to run in dev mode :/ @Bombay how do you set ssr false for flickity?

[2018-08-20 16:02] yaki4 commented on #38
You need to create a plugin and import it in nuxt.config.js with ssr set to false.
Here is the code for the plugin :
import Vue from 'vue'
import Flickity from 'vue-flickity'

Vue.component('flickity', Flickity)

[2018-08-21 00:34] Bombay commented on #38
I'm already set flickity with ssr false.
It's working on dev mode but not on production mode.

[2018-08-21 00:40] Bombay commented on #38
@MartinMuzatko
1. I make flickity.js in plugins folder.
[code]

2. in nuxt.config.js
[code]

[2018-09-03 07:56] toleberdyyeva commented on #38
Hi there , is this issue has been solved ? Cause I'm using flickity on nuxt project. @MartinMuzatko how is goin ?

[2018-09-06 18:33] mcrider commented on #38
In my case, It wasn't working in chrome but was working in other browsers. I'm not sure why this component isn't converting the flickity dom element to a div (as it does in dev mode), but I was able to get around the issue by adding `flickity { display: block; }` to the CSS of my module.

[2018-09-13 13:01] uxPete opened #43 "Any plans to support the flickity-fullscreen option?"
Thanks a lot for making this.

Any plans to support the flickity-fullscreen option?
https://github.com/metafizzy/flickity-fullscreen#install

or any pointers how to go about adding it? Cheers!

[2018-10-01 03:54] jian11231 commented on #40
I have same problem with you, but after i try the solution above, the error of "  Cannot read property 'rerender' of undefined" was returned

[2018-10-01 14:46] juanbrujo commented on #40
@jian11231 you must have a referer, see `ref="flickity" ` in the component and `this.$refs.flickity.rerender()`

[2018-10-07 20:42] drewjbartlett commented on #43
@uxPete -- I'm pretty sure you can just include that library in your build and pass the option `fullscreen: true` to your component and that'd do it

[2018-10-07 20:42] #43 closed

[2018-10-23 08:43] uxPete commented on #43
Hi @drewjbartlett yes! it does indeed work by simply including the fullscreen js, and passing in the option `fullscreen: true` to the flickity config. 👍

[code]

I ran into an issue with the fullscreen layout within my nuxt project, but nothing to do with vue-flickity.

Turns out that using CSS transforms for positioning means any child element with a `position: fixed` (which the fullscreen galler

[2018-11-05 09:35] sharjeel619 opened #44 "Carousel not displaying properly"
Slide Images are appearing on top of each other when used with Vue.js

[2018-11-08 16:06] mortensassi commented on #44
having the same problem, i guess it has to do with flickity firing up before images are fully loaded

[2018-11-08 19:07] sharjeel619 commented on #44
@mortensassi Did it work for you ?

[2018-11-09 16:55] mortensassi commented on #44
@sharjeel619 yeah it did - i implemented it like mentioned in the comment:

[code]
[code]

[2018-11-09 22:49] Meechyst commented on #32
Heres a quick workaround for future visitors; for the first render don't load your component until the array is populated and upon updating the array re-render the whole component via a v-if flag that's being toggled in the server call. Additionally wrapping vue's transition component around your component will actually make it behave sort of normal.

[2018-11-16 06:07] sharjeel619 commented on #44
@mortensassi  Thanks Man, That really did it for me!

[2018-11-19 01:43] Bombay commented on #38
@toleberdyyeva Sorry for the delay. now I'm using flickity directly in mounted() and watch section.

[code]

[2018-11-21 06:12] siberiadev opened #45 "How to use Flickity Events?"
Could you tell me how to use events API of Flickity?
[code]
This code doesnt work.
I get the error "Cannot read property 'on' of undefined"

[2018-11-21 09:03] nikwins commented on #45
Try
`this.$refs.flickity.on('select', function () {
            console.log(vm.$refs.flickity.selectedIndex());
        });`

Otherwise just console.log this.$refs to see how your component is named

[2018-11-21 11:44] lukepearce commented on #45
If I wrap the event listener in a timeout I don't get the error.

[code]

[2018-11-22 09:32] siberiadev commented on #45
Yeah, when I console my refs I can see flickity object, but when I’m trying
to call .on event it callback an error I told you before. Any ideas?

ср, 21 нояб. 2018 г. в 17:03, nikwins <notifications@github.com>:

[2018-11-22 16:01] siberiadev commented on #45
YEAH!!! IT WORKS!! THANKS

[2018-12-02 06:10] sheriffderek commented on #35
Did you ever solve your problem? It's hard for me to tell what it is. Try adding some more description or - if you solved it, maybe close this.

[2018-12-03 08:13] ngtlin commented on #35
Yes, I have found a solution.

[2018-12-03 08:13] #35 closed

[2018-12-14 10:12] OriginalEXE commented on #45
Use the `mounted` hook to bind your events, and put it inside the `this.$nextTick(() => { });`, no need for the setTimeout with a random delay.

[2019-01-03 00:38] aghouseh commented on #40
I'm not seeing any reactive updates to the slider contents. It works on page load but as soon as I update the content of the slider, the parent component node is empty.

[code]
![image](https://user-images.githubusercontent.com/967344/50619215-7f5e3900-0ebd-11e9-8afc-107d3b72ec7f.png)

[2019-01-03 20:33] juanbrujo commented on #40
@aghouseh the `:key` in a loop in Vue usually receives and int (id), so try with:

[code]

[2019-01-04 11:45] lukepearce commented on #45
I get `TypeError: Cannot read property 'on' of undefined` when I place in `mounted` using `nextTick`. If I console log `this.$refs.flickity` I can see the component.

[2019-01-04 11:51] OriginalEXE commented on #45
That's weird. Could you create a reproduction on codesandbox? I would be interested in finding out what's causing it.

You are immediately rendering it inside a component, right?

[2019-01-04 18:19] lukepearce commented on #45
After starting to set this up on codesandbox I remembered that I adapted `vue-flickity` into my own component (to add a few things) and in doing so I'm actually using https://github.com/metafizzy/flickity-bg-lazyload instead of the standard flickity lib.

I expect it's got something to do with a feature I added that allows me to delay the start of a carousel. Regardless of what it might be, it isn

[2019-01-08 19:47] mcake8 opened #46 "Router links triggers during slides draggin"
I have a slider with a router link inside each slide, and i can't swipe or drag slides on desktop without redirecting to another route. I guess it's because router links click can't be prevented.

here is my slider

`<Flickity class="project-slider" ref="flickity" :options="flickityOptions">
        <div class="project-slider__slide"
            v-for="slide in slides"
            :key="slide.id"

[2019-01-20 10:37] eertmanhidde commented on #46
I had the same issue. Didn't solved it on a very clean way but you can use the drag event to add a class when dragging. Then simply put pointer-events: none on that class.

`            flickity.on( 'dragMove', function( event, pointer, moveVector ) {
              $($projectItem).addClass('nopointer');
            });
            flickity.on( 'dragEnd', function( event, pointer ) {

[2019-01-20 13:58] mcake8 commented on #46
The best way that i find is like this
`mounted() {
        setTimeout(() => {
            this.$refs.flickity.on("staticClick", event => {
                this.$router.push(
                    "/projects/" + event.target.dataset.id
                );
            });
        }, 100);
    },`
im attaching event on mounted hook and get liks's href from dataset of element that been clicked

[2019-02-07 17:32] mortensassi commented on #36
How did you get it to work? Imported the plugin and set the option but it doesn't do anything

[2019-02-19 18:27] Yakoot commented on #45
[code]
and then you can bind your events in onInit method

[2019-02-28 10:06] differentMonster opened #47 "only show one pre page"
my slider is show all the item on it, i only want to show it one by one and other are hide when one of them show

<template>
  <div>
     <flickity ref="flickity" :options="flickityOptions">
       <div class="carousel-cell text-center p-4">slide 1</div>
       <div class="carousel-cell text-center p-4">slide 2</div>
       <div class="carousel-cell text-center p-4">slide 3</div>
       <div class

[2019-03-31 15:10] ahadabasi commented on #37
Any solution for this problem?

[2019-03-31 15:15] ahadabasi commented on #37
I use setTimeout with 1 second but it not a good idea!

`resize() {
                setTimeout(() => {
                    this.$refs.flickity.resize();
                },1000);
            }`

[2019-04-14 18:56] mrKorg commented on #36
Hi, I have the same problem

[2019-04-18 10:04] michaelpumo commented on #38
I'm also getting this issue using Nuxt 2.6.2.

[2019-04-18 10:05] michaelpumo commented on #38
Me neither. Is it possible? I'm setting Vue Flickity as a plugin for Nuxt with mode set to client and still not joy!

[2019-04-18 13:32] yaki4 commented on #38
@michaelpumo Have you put the no-ssr tag before your div who use vue-flickity ?
If yes, you can try to use flickity instead.
Here how you can use it in a component
`
<script>
let Flickity = {}
if (process.browser) {
  Flickity = require('flickity')
}
export default{
created () {
    // here i create my options variable
    this.flickityOptionsPromos = {
      resize: true,
      contain: false,

[2019-04-18 16:01] michaelpumo commented on #38
Thanks but I have textual content in my slider that I certainly need for SSR purposes.

[2019-04-18 17:53] yaki4 commented on #38
@michaelpumo you'll have all the content in ssr with this solution.
Flickity will only execute on client side and put custom style to your div.
If you don't create a style for the server side it'll be ugly but it'll be there.

[2019-04-19 09:54] GrazianoMarco commented on #43
@mortensassi Have you found a solution for this? I have the same problem

[2019-04-26 03:25] 1deadpixl commented on #12
Had the same problem using Nuxt and this is a good fix, except…

…you still need to destroy the Flickity instance(s) after being done with them.

My case was that I wanted to scroll to the top of the page during the leave transition and all my Flickitys were gone before the scroll even started, leaving the page looking gnarly. After disabling the `beforeDestroy` hook in `vue-flickity`, I load up t

[2019-05-30 00:44] EnzoBatista commented on #37
Use this.$refs.flickity.rerender();  instead of this.$refs.flickity.resize();

works for me ;)

[2019-05-30 00:48] EnzoBatista opened #49 "How can i instance multiple vue flickity in the same page?"
How can i instance multiple vue flickity in the same page? Try with unique ref but didn't work

[2019-05-30 00:50] #49 closed

[2019-05-30 00:50] EnzoBatista commented on #49
My foul, sorry

[2019-08-12 15:12] aliqasemzadeh commented on #46
@mcake8
Not work for me.

[2019-08-14 14:06] schellenbergk commented on #42
I think this fixes it: https://github.com/metafizzy/flickity/issues/740

Also, you can play around with https://flickity.metafizzy.co/options.html#dragthreshold option

[2019-08-17 16:45] pmochine commented on #7
Thanks! Just for future readers:

    import VueFlickity from 'vue-flickity';
    require('flickity-bg-lazyload');

[2019-08-30 14:32] emdahlstrom commented on #37
@EnzoBatista Hm, interesting! That doesn't work for me, I can't seem to find this rerender() method in the flickity api or on the flickity object. Can you tell us a bit more?

[2019-08-30 19:29] EnzoBatista commented on #37
@emdahlstrom Dude, i've used rerender() method in nuxt like this this.$refs.flickity.rerender();, but i think it's available in react js too and in some way you can do this in vue js

[2019-10-04 07:48] andersaamodt opened #52 "cannot access flickity via this.$refs"
I added a ref="flickity" property to my component, but it is not accessible via this.$refs.flickity, even in the mounted() function. I tried suggestions from [this thread](https://forum.vuejs.org/t/solved-this-refs-key-returns-undefined-when-it-really-is/1226/23) and [this thread](https://github.com/drewjbartlett/vue-flickity/issues/45) but nothing worked. Does anyone know why this is happening?

[2019-10-06 16:45] paullacour commented on #52
@andersaamodt I had the same issue, I wanted to access the selectedIndex in this.$refs.flickity and it was undefined even in mounted() cycle. So I followed @Yakoot advice in #45 and it worked... `onInit(){
      this.$refs.flickity.on('change', (index) => {
        console.log(index)
      })
    }`

[2019-10-07 16:40] danimalweb commented on #36
I'd love to see an example of this too.

[2019-11-07 14:14] cmmize opened #54 "A few methods are missing"
Working on a project that required these flickity methods:
dragEndRestingSelect()
updateSelectedSlide()
settle(x)

Had to add to your source plugin....  you may want to update it.

[2019-11-07 14:42] fusionsquare opened #55 "Open a fullscreen container with the image and comments"
Hi all,

thanks for you work, it works very well.

I want to create a gallery like facebook.

Slider with images that can be scrolled. If i click on the image, i want to open the image in a fullscreen div container with the comments from it. But there are two problems at the moment:

1.  The div within the slider cell can't break out. I tried a lot, but it doesn't work. How can i do this?
2. How c

[2019-11-13 01:37] special-offer commented on #38
I'm also having troubles with vue-flickity in a nuxt app. I find that it's working when I deploy the app to a heroku container, but when I deploy to a netlify container the carousel arrows/dots are not styled and the slides don't transition (even though the active dot does). i'm running `npm run generate` on netlify.

[2019-11-14 04:00] tomphilpotts commented on #43
At first this was not working for me. But it is because the .flickity-fullscreen-button-view and
.flickity-fullscreen-button-exit didn't have any styles.

But after some work with the css this worked for me.

This is a bit late to reply, hopefully it helps someone else.

`  import Flickity from 'vue-flickity';
    import 'flickity-fullscreen';`

`  flickityOptions: {
                    fullscreen

[2019-11-26 21:49] Tuginho commented on #38
Same for me.

[2020-01-05 14:43] amirhoseinsalimi opened #56 "License: GPLv3 or MIT?"
Hello,

What is vue-flickity license?
The original flickity library uses GPLv3. Does this effect vue-flickity and projects using it?

[2020-02-02 08:20] matinwd opened #57 "Sometimes works fine, sometimes does not work properly"
hi. this library is good but there is some bugs i think. sometimes it works fine and sometimes does not work good
![2020-02-02_11-04-44](https://user-images.githubusercontent.com/52950867/73604826-18bdba00-45ac-11ea-93f8-385fadfd2871.png)
images sometimes does not show. please help me thanks. 👍

[2020-02-18 09:45] Jones-S opened #58 "Using flickity lazyload: no effect"
I am trying to use flickitys[ lazyload option](https://flickity.metafizzy.co/options.html#lazyload), but it somehow does not have any effect.

here are my options:
[code]

and my flickity slider:
[code]

Do I miss something?

I also have to mention that I currently have 4 slides, so with `lazyLoad: 1`, I would expect that at least my last image is lazyloaded in a carousel... Actually even more!

A

[2020-02-18 09:50] Jones-S commented on #58
Ok, I realized one thing:

When using `lazyLoad: true,` it works.

When using `lazyLoad: 1,`
I see the following weird issue:

I have 4 slides:
On page load I get this:

Slide 1: loaded and displayed
Slide 2: When appearing on screen: LAZYLOADED
Slide 3: loaded on page load
Slide 4: loaded on page load

Do you have any explanation for this?
I would have expected Slide 4 to be lazyloaded and not sl

[2020-02-28 21:16] cbgesbocker opened #59 "Provide API for parent component to control the destroying of Flickity"
To prevent the slideshow from collapsing when the parent component is destroyed

Parent.vue
[code]

Flickity.vue
[code]

[2020-02-28 21:16] #59 closed, assigned to nobody

[2020-04-07 16:38] davidjmz commented on #32
Im having this problem too, I have my cells with a v-for and they load correctly, but the slider doesn't work until I change pages, the first load is just cells in top of other cells. Im triyng with v-if for the container, but I got the same result. Any ideas?

[2020-04-09 23:54] seiji-fli opened #60 "Cells get rendered in reverse"
CodePen: https://codepen.io/fli-seiji/pen/abvbPgj

I'm trying to dynamically add cells and can not find why it's rendering in reverse. When rearranging the model array list it renders as expected.

[2020-05-27 08:02] SherAtrium commented on #2
Wow thanks dude. You saved me. )))

[2020-05-27 08:03] SherAtrium commented on #2
Wow thanks dude. You saved me. )))

[2020-06-13 01:20] jakedowns commented on #2
downside of using v-if to solve this, is that it breaks the `this.$refs.flickity` :<

[2020-06-15 17:39] jakedowns commented on #57
would you be willing to share some code samples of how your implementation is set up? will be easier to give guidance based on your setup.

[2020-06-25 15:41] CHEWX opened #61 "Best way to reinit"
If you're using props array to populate slider and props array changes -/+, I can watch the items and trigger a reinit? Best method for this?

[2020-07-10 17:21] CHEWX commented on #61
[code]

[code]

[2020-07-10 17:21] #61 closed, assigned to nobody

[2020-08-11 12:37] Antoxa1081 commented on #60
Same problem, after updating data in v-for list, shuffles order in dom elements @seiji-fli @drewjbartlett

[2020-08-11 13:18] seiji-fli commented on #60
@Antoxa1081 Lately having more success using https://github.com/Akryum/vue-virtual-scroller or https://github.com/bartdominiak/vue-snap#README

[2020-08-27 15:31] diegood commented on #36
Example html:
[code]
Example Script:
[code]

[2020-10-21 14:58] kevinzweerink opened #63 "Request: support for imagesLoaded option"
Flickity's imagesLoaded option allows automatic re-rendering of the slideshow once images have fully loaded, but requires the explicit inclusion of `flickity-imagesloaded`, which is not currently part of this package.

As things are now, you can approximate this behavior by manually importing `imagesloaded` and binding it to flickity's ready event through flickityOptions like so:

[code]

But it w

[2020-11-19 14:47] yeyuguo commented on #40
1. 先移除旧实例
2. 再重新获取数据【重新渲染】

[2020-11-22 07:59] ArashKenji73 commented on #46
i have same problem
please fix this or give us onDrag event

[2020-12-06 12:34] MRloll commented on #63
This is really helpful.
thank you so much.

[2020-12-10 08:57] ArashKenji73 commented on #38
just put no-ssr tag around it like that:
[code]

[2021-02-23 11:27] semihkeskindev commented on #2
I was working on it for 3 hours to figure it out why act like this... Thank you so much :pray: It worked for me.

[2021-05-28 06:16] nxic opened #66 "Fade option not working"
Tried to use fade option from flickity v2.2 it doesn't work.

`in template`
[code]

`in script`
[code]

[2021-05-28 07:17] nxic commented on #66
created pull request #67

[2021-06-28 11:22] hakimmazouz commented on #59
Did you end up finding a way to delay the destruction of the component?

[2021-06-29 04:23] CodyEddings opened #68 "Flickity + Typescript Errors: Bad Element for Flickity: .carousel"
I've been working with Flickity in my Vue 3 app and it works fine when I use a hardcoded HTML carousel with static cells. I need to add cells programmatically at runtime, however, and I can't get the flickity API to work correctly.

I'm trying to follow the [append() example](https://codepen.io/desandro/pen/OPQWOG) but I get the error `flickity.js?1385:72 Bad element for Flickity: .carousel` in my

[2021-07-01 16:54] CodyEddings commented on #68
Fixed using the Typescript - Vue 3 Flickity solution [here](https://stackoverflow.com/questions/68172617/flickity-api-with-vue-3-and-typescript)

[2021-07-01 16:54] #68 closed, assigned to nobody

[2021-07-02 21:45] CodyEddings commented on #45
Is there a sample solution for event listening with Vue 3 & TypeScript?

[2021-07-03 04:57] CodyEddings commented on #45
Solution for Vue 3 & Typescript event listening [here ](https://stackoverflow.com/questions/68231576/flickity-events-vue3-typescript-error-thisrefs-flickity-on-is-not-a-func/68231786?noredirect=1#comment120593378_68231786)

[2021-07-03 18:25] Tobeyforce opened #69 "Images flicker when going to previous route"
When I go back to a previous route, the carousel will flicker and return to the left generally. If there are multiple images, the images will for a brief moment stack on top of each other making it extremly obvious.
Anyone else experienced this & know a fix? I confirmed this was the case with default settings as well as multiple ones.

Nuxt, using it as a plugin & wrapping the flickity-component i

[2021-07-03 20:35] Tobeyforce commented on #69
Seems to have been an issue related to my cache as I noticed it prevailed with other packages. My apologies. Closing.

[2021-07-03 20:35] #69 closed, assigned to nobody

[2021-07-08 18:47] CodyEddings opened #70 "Carousel Stuck on Last Slide"
My Flickity carousel in my Vue 3 Typescript app is being populated with slides dynamically at runtime via a for loop.

The problem:

Check out this [video of the bug](https://www.youtube.com/watch?v=RD3li3regzg)
The last slide added to my carousel is the only one that shows up, and when I try to drag the slide left or right my drag is ignored. Clicks to the slide navigation buttons or the page dot

[2021-07-09 06:31] CodyEddings commented on #70
@drewjbartlett any idea what's causing the bug in the video above?

[2021-07-13 06:13] antiden commented on #66
Hello,

Example for nuxtjs

1. install `yarn add flickity-fade -D`
2. connect depending in plugins/flickity.js
[code]
3. Use with option: `fade: true,`

Ready.

[2021-07-13 14:13] FDuschicka commented on #63
works like a charm!
thank you for saving me after 4hrs without progress

[2021-07-16 15:10] CodyEddings commented on #70
Anyone?

[2021-07-20 12:06] defaye commented on #66
Why do you have the beforeDestroy set to undefined?

[2021-07-21 07:58] antiden commented on #66
To disable the hook persistently without worrying about changes from package updates or npm clean installs, the `beforeDestroy` method can be set to `undefined` when defining the plugin.

[2021-08-19 16:02] mihalidis commented on #37
Not work for me now :/ we're using SSR btw maybe that's why didn't work

[2021-08-26 10:21] trandaison commented on #38
1. Import vue-flickity as a plugin.
create a js file under plugin folder: `plugins/vue-flickity.js`
[code]

2. in nuxt.config.js
[code]

3. In component file
[code]

You can also import Flickity as a component, and register, but don't forget to wrap inside the `<client-only>` tag.

[code]

[2021-10-14 13:53] kissu commented on #38
This solution is sub-optimal since it's importing the component globally to your entire Nuxt project.
Having a local import of the package is still a thing to have (would consider it as mandatory even).

---
Here is my solution for this: https://stackoverflow.com/a/69572014/8816585

[2021-11-08 16:54] awatertrevi commented on #40
Same here. Did you manage to find a fix?

[2021-12-01 14:14] roberttolton commented on #32
Has anyone got a solution for this?

EDIT: Found this
https://github.com/drewjbartlett/vue-flickity/issues/2#issuecomment-352671946

And it works, although using `slides.length` is fine (if your data is an array), not sure why the comment uses `Object.keys`.

[2022-02-25 19:44] chrisjansky commented on #12
Has anyone managed to solve it when importing vue-flickity only inside a Nuxt single page, like this:

[code]

Thanks for any pointers.

[2022-04-12 14:58] luksak commented on #46
Here is a more generic version of @eertmanhidde 's approach:

[code]

That works perfectly for me.

You'll still need this style:

[code]

[2022-11-29 16:06] adamalfredsson commented on #38
I had an issue loading it when using it with `Vue.extend`. So I switched from:

[code]

to:

[code]

And it works.. Don't ask